@font-face {
    font-family: "Intro";
    src: url("../fonts/Intro/Intro.otf") format("truetype");
}

@font-face {
    font-family: "Museo0";
    src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype");
}

@font-face {
    font-family: "Museo1";
    src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype");
}

@font-face {
    font-family: "Museo2";
    src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype");
}

@font-face {
    font-family: "Museo3";
    src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype");
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype");
}