// ===== Base Folder====== //
@import 'base/_typography';
// ======================= //
// ======================= //
// ===== Helpers Folder====== //
@import 'helpers/_functions';
@import 'helpers/_mixins';
@import 'helpers/_variables';
// ======================= //
// ===== Components Folder====== //
@import 'components/_buttons';
@import 'components/_scroll-top';
@import 'components/_section-title';
// ===== Layout Folder====== //
@import 'layout/_top-part';
@import 'layout/_navigation';
@import 'layout/_header';
@import 'layout/_services';
@import 'layout/_solutions';
@import 'layout/_we-protect';
@import 'layout/_equipment';
@import 'layout/_pro-security';
@import 'layout/_order-of-work';
@import 'layout/_contacts';
@import 'layout/_line';
@import 'layout/_footer';
// ======================= //
// ===== Pages Folder====== //
@import 'pages/_home';
// ======================= //
body {
    font-family: "MuseoSansCyrl", sans-serif !important;
    max-width: em(1920);
    margin: 0 auto;
}