$mainTextColor: #004d80;
$phoneTextColor: #004a6f;
$bodyBg: #e8f7fe;
$mainBtnBg:#ff0655;
$captionHeaderOne: #0694ea;
$captionHeaderTwo: #f10d54;
$footerLinksClrOne:#5a5a5b;
$footerLinksClrTwo:#a2a2a3;
$bottomFooterBg: #e3e3e3;