@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro/Intro.otf") format("truetype"); }

@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

button.main-btn {
  font-family: "Museo2";
  background-color: #ff0655;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 1px;
  border-radius: 10px; }

button.main-btn2 {
  font-family: "Museo2";
  background-color: #004d80;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 1px;
  border-radius: 10px; }

@media screen and (max-width: 767px) {
  button.main-btn {
    font-size: 0.9375em; }
  button.main-btn2 {
    font-size: 0.9375em; } }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px; }
  .scrolltop .scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: rgba(0, 77, 128, 0.8);
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; }
    .scrolltop .scroll:hover {
      background: #004d80;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s; }
    .scrolltop .scroll .fa {
      font-size: 30px;
      color: white;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s; }

@media screen and (max-width: 767px) {
  h1.section-title {
    font-size: 1.75em !important; } }

#top-part {
  letter-spacing: 1px; }
  #top-part h1 {
    font-family: "Museo3";
    font-size: 1.0625em;
    color: #004d80; }
  #top-part img.logo {
    max-width: 7.6875em;
    height: auto; }
  #top-part .social-icons img {
    height: auto; }
  #top-part .phone-numbers li a {
    font-family: "Intro";
    font-size: 1.1875em;
    color: #004a6f; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #top-part h1 {
    font-size: 0.875em; }
  #top-part img.logo {
    max-width: 6.25em;
    height: auto; }
  #top-part .social-icons img {
    max-width: 7.5em;
    height: auto; }
  #top-part .phone-numbers li a {
    font-size: 1em; } }

@media screen and (max-width: 767px) {
  #top-part .col-12 {
    justify-content: center;
    flex-wrap: wrap; }
  #top-part .social-icons img {
    max-width: 6.25em;
    height: auto; }
  #top-part .phone-numbers li a {
    font-size: 0.875em; } }

nav.navbar {
  letter-spacing: 1px; }
  nav.navbar .navbar-brand img {
    max-width: 4.0625em;
    height: auto; }
  nav.navbar button.btn {
    font-family: "Museo2";
    font-size: 1.4375em;
    background: #ff066e;
    background: linear-gradient(to right, #ff066e, #ca075c);
    color: #fff;
    border-radius: 10px; }
  nav.navbar .collapse,
  nav.navbar .collapsing {
    font-family: "Museo3"; }
    nav.navbar .collapse ul li:nth-child(n) a:after,
    nav.navbar .collapsing ul li:nth-child(n) a:after {
      content: '/';
      display: inline-block;
      margin-left: 15px;
      color: #fbc0d3;
      height: 100%;
      font-size: 22px;
      font-family: "MuseoSansCyrl"; }
    nav.navbar .collapse ul li:nth-child(4) a:after,
    nav.navbar .collapsing ul li:nth-child(4) a:after {
      visibility: hidden; }
    nav.navbar .collapse ul li a,
    nav.navbar .collapsing ul li a {
      text-transform: uppercase;
      color: #004d80;
      font-size: 1.4375em; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav.navbar .collapse ul li:nth-child(n) a:after {
    margin-left: 5px; }
  nav.navbar .collapse ul li a {
    font-size: 1em; }
  nav.navbar button.btn {
    font-size: 1em; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0; } }

@media screen and (max-width: 767px) {
  nav.navbar .navbar-toggler {
    outline: unset; }
    nav.navbar .navbar-toggler i.fa.fa-bars {
      font-size: 1.875em;
      color: #004d80; }
  nav.navbar .navbar-collapse ul {
    display: flex;
    align-items: center; }
    nav.navbar .navbar-collapse ul li a {
      font-size: 16px; }
    nav.navbar .navbar-collapse ul li:nth-child(n) a:after {
      content: ''; }
  nav.navbar .navbar-collapse button.btn {
    display: none; } }

@media screen and (max-width: 575px) {
  nav.navbar .navbar-brand {
    padding-left: 15px; }
  nav.navbar i.fa.fa-bars {
    padding-right: 15px; } }

header {
  background-color: #e8f7fe; }
  header #headerCarousel ol.carousel-indicators li {
    width: 0.8125em;
    height: 0.8125em;
    border-radius: 0.3125em; }
    header #headerCarousel ol.carousel-indicators li:hover {
      cursor: pointer; }
  header #headerCarousel .carousel-item img {
    max-height: 41.875em; }
  header #headerCarousel i.fa {
    font-size: 5em; }
  header #headerCarousel .carousel-caption {
    font-family: "Museo3";
    top: 8%;
    left: 5%; }
    header #headerCarousel .carousel-caption h5 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 3.5625em;
      color: #0694ea; }
      header #headerCarousel .carousel-caption h5:nth-child(2) {
        color: #f10d54; }
    header #headerCarousel .carousel-caption ul {
      letter-spacing: 1px;
      position: relative;
      top: 8.5%;
      left: 5%; }
      header #headerCarousel .carousel-caption ul li {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.625em; }
        header #headerCarousel .carousel-caption ul li:before {
          content: '';
          width: 20px;
          height: 20px;
          margin-right: 15px;
          background-color: #ff0655;
          display: inline-block;
          border-radius: 5px; }
    header #headerCarousel .carousel-caption button.btn {
      position: relative;
      top: 22%;
      display: block; }
  header #headerCarousel .carousel-control-prev,
  header #headerCarousel .carousel-control-next {
    width: 9%; }
  header .features {
    letter-spacing: 1px;
    font-family: "Museo3";
    color: #004d80; }
    header .features h2 {
      font-size: 3.125em; }
    header .features p {
      font-size: 1.375em; }
    header .features img {
      max-width: 10.625em;
      height: auto; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  header #headerCarousel .carousel-caption {
    top: 13%; }
    header #headerCarousel .carousel-caption h5 {
      font-size: 2em; }
    header #headerCarousel .carousel-caption ul li {
      font-size: 1.125em; }
  header .features img {
    max-width: 7.5em; }
  header .features h2 {
    font-size: 2.5em; }
  header .features p {
    font-size: 1.125em; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  header #headerCarousel .carousel-caption {
    left: 15%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    header #headerCarousel .carousel-caption h5 {
      font-size: 1.625em; }
    header #headerCarousel .carousel-caption ul {
      display: none; }
  header .features img {
    max-width: 7.5em; }
  header .features h2 {
    font-size: 2.5em; }
  header .features p {
    font-size: 1.125em; } }

@media screen and (max-width: 575px) {
  header #headerCarousel .carousel-caption {
    left: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    header #headerCarousel .carousel-caption h5 {
      font-size: 1.25em;
      text-align: center; }
    header #headerCarousel .carousel-caption ul {
      display: none; }
    header #headerCarousel .carousel-caption button.btn {
      display: none; }
  header #headerCarousel .carousel-control-prev,
  header #headerCarousel .carousel-control-next {
    display: none; }
  header .features img {
    max-width: 5em; }
  header .features h2 {
    font-size: 2.25em; }
  header .features p {
    font-size: 1em; } }

#services h1 {
  font-family: "Museo3";
  color: #004d80;
  text-transform: uppercase;
  font-size: 3.125em; }

#services p {
  font-family: "MuseoSansCyrl";
  color: #004d80;
  font-size: 1.5625em; }

#services .first-item .text {
  background: url(../img/slideItem-1.png) center;
  background-repeat: no-repeat;
  background-size: cover; }

#services .second-item .text {
  background: url(../img/slideItem-2.png) center;
  background-repeat: no-repeat;
  background-size: cover; }

#services .third-item .text {
  background: url(../img/slideItem-3.png) center;
  background-repeat: no-repeat;
  background-size: cover; }

#services .slide-item-title h3 {
  font-size: 1.25em;
  text-align: center;
  color: #ff0655;
  background-color: #e8f7fe;
  margin-bottom: 0; }

#services .text {
  color: #fff; }
  #services .text h4 {
    font-size: 1.25em; }
  #services .text ul li {
    font-size: 0.9375em;
    line-height: 2; }

#services #servicesCarousel {
  font-family: "Museo3";
  margin: 0 auto; }
  #services #servicesCarousel .carousel-item-next,
  #services #servicesCarousel .carousel-item-prev,
  #services #servicesCarousel .carousel-item.active {
    display: flex; }
  #services #servicesCarousel .carousel-control-prev,
  #services #servicesCarousel .carousel-control-next {
    width: 9%; }
    #services #servicesCarousel .carousel-control-prev i,
    #services #servicesCarousel .carousel-control-next i {
      color: #004d80;
      font-size: 5em; }
  #services #servicesCarousel .carousel-control-prev {
    justify-content: flex-start;
    left: -5%; }
  #services #servicesCarousel .carousel-control-next {
    justify-content: flex-end;
    right: -5%; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #services #servicesCarousel .slide-item-title h3 {
    font-size: 0.9em; }
  #services #servicesCarousel .text h4 {
    font-size: 1.1em; }
  #services #servicesCarousel .text ul li {
    font-size: 0.8em; }
  #services #servicesCarousel button.main-btn {
    font-size: 0.9em; }
  #services #servicesCarousel .carousel-control-prev {
    left: 0; }
  #services #servicesCarousel .carousel-control-next {
    right: 0; } }

@media screen and (max-width: 767px) {
  #services #servicesCarousel .carousel-item-next,
  #services #servicesCarousel .carousel-item-prev,
  #services #servicesCarousel .carousel-item.active {
    flex-wrap: wrap; }
  #services p {
    font-size: 0.9375em; }
  #services #servicesCarousel p {
    font-size: 1.125em; }
  #services #servicesCarousel .slide-item-title h3 {
    font-size: 0.9em; }
  #services #servicesCarousel .text h4 {
    font-size: 1.1em; }
  #services #servicesCarousel .text ul li {
    font-size: 0.8em; }
  #services #servicesCarousel button.main-btn {
    font-size: 0.9em;
    display: block;
    margin: 0 auto; }
  #services #servicesCarousel .carousel-control-prev {
    left: 0; }
    #services #servicesCarousel .carousel-control-prev i {
      color: #ff0655; }
  #services #servicesCarousel .carousel-control-next {
    right: 0; }
    #services #servicesCarousel .carousel-control-next i {
      color: #ff0655; } }

#solutions {
  font-family: "Museo3";
  margin-top: 100px;
  margin-bottom: 100px; }
  #solutions .line-img {
    margin-bottom: 100px; }
  #solutions h1 {
    font-size: 3.125em;
    color: #004d80;
    text-transform: uppercase; }
  #solutions h2 {
    font-size: 1.375em;
    color: #004d80; }
  #solutions .text-part {
    background-color: #f6f7f7;
    font-family: "Museo3"; }
    #solutions .text-part h3 {
      font-size: 2.0625em;
      color: #004d80;
      text-transform: uppercase; }
    #solutions .text-part h4 {
      font-size: 1.25em;
      color: #ff0655;
      text-transform: uppercase; }
    #solutions .text-part .prices:before {
      content: " ";
      border-bottom: 2px solid #ebecec;
      width: 365px;
      position: absolute;
      top: 50%; }
    #solutions .text-part .prices .plan img {
      max-width: 45px; }
    #solutions .text-part .prices .plan p {
      font-size: 0.6875em;
      color: #004d80;
      text-transform: uppercase; }
    #solutions .text-part .prices .price {
      font-size: 0.9375em;
      text-transform: uppercase;
      color: #ff0655; }
    #solutions .text-part .buttons-block a {
      font-family: "Museo2";
      color: #004d80;
      text-decoration: underline;
      font-size: 1.375em;
      text-transform: lowercase; }
  #solutions #solutionsCarousel .carousel-item-next,
  #solutions #solutionsCarousel .carousel-item-prev,
  #solutions #solutionsCarousel .carousel-item.active {
    display: flex; }
  #solutions #solutionsCarousel .carousel-item.active,
  #solutions #solutionsCarousel .carousel-item {
    min-width: 1130px; }
  #solutions #solutionsCarousel .carousel-control-prev,
  #solutions #solutionsCarousel .carousel-control-next {
    width: 9%; }
    #solutions #solutionsCarousel .carousel-control-prev i,
    #solutions #solutionsCarousel .carousel-control-next i {
      color: #004d80;
      font-size: 5em; }

#we-protect {
  background-color: #e8f7fe; }
  #we-protect h1 {
    font-family: "Museo3";
    text-transform: uppercase;
    color: #004d80;
    font-size: 3.125em; }
  #we-protect #protectCarousel .carousel-control-prev,
  #we-protect #protectCarousel .carousel-control-next {
    width: 9%;
    opacity: 1; }
    #we-protect #protectCarousel .carousel-control-prev i,
    #we-protect #protectCarousel .carousel-control-next i {
      color: #fff;
      font-size: 2.5em;
      background-color: #004d80;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
      #we-protect #protectCarousel .carousel-control-prev i.fa-caret-left,
      #we-protect #protectCarousel .carousel-control-next i.fa-caret-left {
        padding-right: 7px; }
      #we-protect #protectCarousel .carousel-control-prev i.fa-caret-right,
      #we-protect #protectCarousel .carousel-control-next i.fa-caret-right {
        padding-left: 7px; }

@media screen and (min-width: 768px) {
  #we-protect #protectCarousel {
    /* show 3 items */
    /* left or forward direction */
    /* farthest right hidden item must be abso position for animations */
    /* right or prev direction */ }
    #we-protect #protectCarousel .carousel-inner .active,
    #we-protect #protectCarousel .carousel-inner .active + .carousel-item,
    #we-protect #protectCarousel .carousel-inner .active + .carousel-item + .carousel-item {
      display: block; }
    #we-protect #protectCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #we-protect #protectCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #we-protect #protectCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none; }
    #we-protect #protectCarousel .carousel-inner .carousel-item-next,
    #we-protect #protectCarousel .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0); }
    #we-protect #protectCarousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible; }
    #we-protect #protectCarousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #we-protect #protectCarousel .carousel-item-next.carousel-item-left + .carousel-item,
    #we-protect #protectCarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #we-protect #protectCarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible; }
    #we-protect #protectCarousel .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible; }
    #we-protect #protectCarousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #we-protect #protectCarousel .carousel-item-prev.carousel-item-right + .carousel-item,
    #we-protect #protectCarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #we-protect #protectCarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible; } }

#equipment {
  font-family: "Museo3"; }
  #equipment h1 {
    font-size: 3.125em;
    color: #004d80;
    text-transform: uppercase; }
  #equipment h2 {
    font-size: 2.3125em;
    color: #004d80;
    text-transform: uppercase; }
  #equipment p {
    font-size: 1.125em;
    text-transform: uppercase;
    color: #ff0655; }
  #equipment ul li {
    margin-top: 15px;
    font-size: 0.9375em;
    text-transform: uppercase;
    color: #004d80;
    display: flex;
    align-items: center; }
    #equipment ul li img {
      max-width: 40px;
      margin-right: 10px; }
  #equipment #eqCarousel .carousel-item-next,
  #equipment #eqCarousel .carousel-item-prev,
  #equipment #eqCarousel .carousel-item.active {
    display: flex; }
  #equipment #eqCarousel .carousel-control-prev,
  #equipment #eqCarousel .carousel-control-next {
    width: 9%; }
    #equipment #eqCarousel .carousel-control-prev i,
    #equipment #eqCarousel .carousel-control-next i {
      color: #004d80;
      font-size: 5em; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #equipment #eqCarousel .carousel-item {
    margin-top: 35px; }
  #equipment #eqCarousel h2 {
    font-size: 1.375em; }
  #equipment #eqCarousel p {
    font-size: 1em; }
  #equipment #eqCarousel ul li {
    font-size: 0.8125em; }
    #equipment #eqCarousel ul li img {
      max-width: 25px;
      height: auto; }
  #equipment #eqCarousel button.btn {
    margin: 0 auto; } }

@media screen and (max-width: 767px) {
  #equipment #eqCarousel .carousel-item {
    margin-top: 35px; }
    #equipment #eqCarousel .carousel-item .image-left {
      display: none; }
  #equipment #eqCarousel h2 {
    font-size: 1.375em;
    text-align: center; }
  #equipment #eqCarousel p {
    font-size: 1em;
    text-align: center; }
  #equipment #eqCarousel ul li {
    font-size: 0.8125em; }
    #equipment #eqCarousel ul li img {
      max-width: 25px;
      height: auto; }
  #equipment #eqCarousel button.btn {
    margin: 0 auto; } }

#pro-security {
  font-family: "Museo3"; }
  #pro-security h1 {
    font-size: 3.125em;
    color: #004d80;
    text-transform: uppercase; }
  #pro-security h2 {
    font-size: 1.375em;
    color: #ff0655; }
    #pro-security h2 img.header-image {
      max-width: 2.5em;
      height: auto; }
  #pro-security .icon-item {
    min-height: 200px;
    display: flex;
    align-items: center; }
  #pro-security .item h2 {
    font-size: 2.5em;
    text-align: center; }
  #pro-security .item p {
    font-size: 0.8125em;
    color: #004d80;
    text-align: center; }
  #pro-security .item img {
    max-width: 150px; }
  #pro-security .under-head-text {
    min-height: 80px; }

@media screen and (max-width: 767px) {
  #pro-security h2 {
    font-size: 0.875em; }
  #pro-security img.header-image {
    max-width: 1.5em; }
  #pro-security .icon-item {
    min-height: 150px; }
  #pro-security .item img {
    max-width: 100px; }
  #pro-security .item h2 {
    font-size: 1em; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  #pro-security .under-head-text {
    min-height: 96px; } }

#order-of-work {
  background-color: #e8f7fe;
  font-family: "Museo3";
  min-height: 1371px; }
  #order-of-work h1 {
    color: #004d80;
    text-transform: uppercase; }
  #order-of-work .work-item {
    font-family: "Museo3"; }
    #order-of-work .work-item img {
      max-width: 80px; }
    #order-of-work .work-item p {
      font-size: 1.6875em;
      color: #004d80;
      text-transform: uppercase; }
  #order-of-work .relative-item-second {
    border-left: 1px #1b5f8d solid; }
  #order-of-work .relative-item-first {
    border-right: 1px #1b5f8d solid; }
  #order-of-work .relative-block {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    #order-of-work .relative-block .bottom-block {
      background-color: #004c7f; }
      #order-of-work .relative-block .bottom-block img {
        max-width: 100px; }
      #order-of-work .relative-block .bottom-block p {
        color: #fff;
        margin-bottom: 0;
        font-size: 1.25em;
        text-transform: uppercase; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #order-of-work {
    min-height: 1453px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #order-of-work {
    min-height: 906px; }
    #order-of-work button.btn {
      margin: 0 auto; }
    #order-of-work .work-item img {
      max-width: 60px; }
    #order-of-work .work-item p {
      font-size: 1.25em; }
    #order-of-work .relative-block .bottom-block img {
      max-width: 65px; }
    #order-of-work .relative-block .bottom-block p {
      font-size: 1em; } }

@media screen and (max-width: 767px) {
  #order-of-work {
    min-height: unset; }
    #order-of-work .relative-block {
      position: static;
      padding-bottom: 50px; }
      #order-of-work .relative-block .bottom-block img {
        max-width: 65px; }
      #order-of-work .relative-block .bottom-block p {
        font-size: 1em; }
    #order-of-work .relative-item-first,
    #order-of-work .relative-item-second {
      border: 0; }
    #order-of-work .work-item img {
      max-width: 30px; }
    #order-of-work .work-item p {
      font-size: 0.875em; }
    #order-of-work button.btn {
      margin: 0 auto; } }

#contacts {
  font-family: "Museo3";
  margin-top: 225px; }
  #contacts h1 {
    font-size: 3.125em;
    color: #004d80;
    text-transform: uppercase; }
  #contacts img {
    max-width: 9.375em;
    height: auto; }
  #contacts ul li a {
    color: #004d80;
    font-size: 1.25em; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contacts {
    margin-top: 170px; }
    #contacts img {
      max-width: 6.25em; } }

@media screen and (max-width: 767px) {
  #contacts {
    margin-top: 0; }
    #contacts img {
      max-width: 3.125em; }
    #contacts ul li {
      font-size: 0.875em; } }

#line {
  background-color: #004c7f; }
  #line h2 {
    font-family: "Museo3";
    font-size: 1.6875em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #line h2 {
    text-align: center; } }

@media screen and (max-width: 767px) {
  #line h2 {
    text-align: center;
    font-size: 1.25em; } }

footer .website-links li {
  font-family: "Museo1"; }
  footer .website-links li a {
    color: #5a5a5b;
    font-size: 0.9375em;
    line-height: 33px; }

footer .works-time li {
  font-family: "Museo1";
  font-size: 0.9375em;
  color: #a2a2a3; }
  footer .works-time li:nth-child(-n+2) {
    color: #004d80; }

footer .phones-number {
  font-family: "Museo3"; }
  footer .phones-number li {
    font-size: 1.25em;
    display: flex;
    align-items: center; }
    footer .phones-number li a {
      color: #004d80; }
    footer .phones-number li img {
      max-width: 1.875em; }

#bottom-footer {
  background-color: #e3e3e3; }
  #bottom-footer p {
    font-family: "Museo1";
    font-size: 0.625em;
    text-align: center;
    margin-bottom: 0;
    color: #004d80; }
  #bottom-footer a img {
    max-width: 2.1875em; }

@media screen and (max-width: 575px) {
  footer .phones-number li a {
    font-size: 0.875em; } }

body {
  font-family: "MuseoSansCyrl", sans-serif !important;
  max-width: 120em;
  margin: 0 auto; }
