@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro/Intro.otf") format("truetype"); }

@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

button.main-btn {
  font-family: "Museo2";
  background-color: #ff0655;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 1px;
  border-radius: 10px; }

#top-part {
  letter-spacing: 1px; }
  #top-part h1 {
    font-family: "Museo3";
    font-size: 1.0625em;
    color: #004d80; }
  #top-part img.logo {
    max-width: 7.6875em;
    height: auto; }
  #top-part .social-icons img {
    height: auto; }
  #top-part .phone-numbers li a {
    font-family: "Intro";
    font-size: 1.1875em;
    color: #004a6f; }

nav.navbar {
  letter-spacing: 1px; }
  nav.navbar .navbar-brand img {
    max-width: 3.125em;
    height: auto; }
  nav.navbar button.btn {
    font-family: "Museo2";
    font-size: 1.4375em;
    background: #ff066e;
    background: linear-gradient(to right, #ff066e, #ca075c);
    color: #fff;
    border-radius: 10px; }
  nav.navbar .collapse {
    font-family: "Museo3"; }
    nav.navbar .collapse ul li:nth-child(n) a:after {
      content: '/';
      display: inline-block;
      margin-left: 15px;
      color: #fbc0d3;
      height: 100%;
      font-size: 22px;
      font-family: "MuseoSansCyrl"; }
    nav.navbar .collapse ul li:nth-child(4) a:after {
      visibility: hidden; }
    nav.navbar .collapse ul li a {
      text-transform: uppercase;
      color: #004d80;
      font-size: 1.4375em; }

header {
  background-color: #e8f7fe; }
  header #headerCarousel ol.carousel-indicators li {
    width: 0.8125em;
    height: 0.8125em;
    border-radius: 0.3125em; }
    header #headerCarousel ol.carousel-indicators li:hover {
      cursor: pointer; }
  header #headerCarousel .carousel-item img {
    max-height: 41.875em; }
  header #headerCarousel i.fa {
    font-size: 5em; }
  header #headerCarousel .carousel-caption {
    font-family: "Museo3";
    top: 8%;
    left: 5%; }
    header #headerCarousel .carousel-caption h5 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 3.5625em;
      color: #0694ea; }
      header #headerCarousel .carousel-caption h5:nth-child(2) {
        color: #f10d54; }
    header #headerCarousel .carousel-caption ul {
      letter-spacing: 1px;
      position: relative;
      top: 8.5%;
      left: 5%; }
      header #headerCarousel .carousel-caption ul li {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.625em; }
        header #headerCarousel .carousel-caption ul li:before {
          content: '';
          width: 20px;
          height: 20px;
          margin-right: 15px;
          background-color: #ff0655;
          display: inline-block;
          border-radius: 5px; }
    header #headerCarousel .carousel-caption button.btn {
      position: relative;
      top: 22%;
      display: block; }
  header #headerCarousel .carousel-control-prev,
  header #headerCarousel .carousel-control-next {
    width: 9%; }
  header .features {
    letter-spacing: 1px;
    font-family: "Museo3";
    color: #004d80; }
    header .features h2 {
      font-size: 3.125em; }
    header .features p {
      font-size: 1.375em; }
    header .features img {
      max-width: 10.625em;
      height: auto; }

#order-of-work {
  background-color: #f9fcfd;
  font-family: "Museo3"; }
  #order-of-work h1 {
    color: #004d80;
    text-transform: uppercase; }
  #order-of-work .work-item {
    font-family: "Museo3"; }
    #order-of-work .work-item img {
      max-width: 80px; }
    #order-of-work .work-item p {
      font-size: 1.6875em;
      color: #004d80;
      text-transform: uppercase; }
  #order-of-work .bottom-block {
    background-color: #004c7f; }
    #order-of-work .bottom-block img {
      max-width: 100px; }
    #order-of-work .bottom-block p {
      color: #fff;
      margin-bottom: 0;
      font-size: 1.25em;
      text-transform: uppercase; }

#contacts {
  font-family: "Museo3"; }
  #contacts h1 {
    font-size: 3.125em;
    color: #004d80;
    text-transform: uppercase; }
  #contacts img {
    max-width: 9.375em;
    height: auto; }
  #contacts ul li a {
    color: #004d80;
    font-size: 1.25em; }

#line {
  background-color: #004c7f; }
  #line h2 {
    font-family: "Museo3";
    font-size: 1.6875em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px; }

footer .website-links li {
  font-family: "Museo1"; }
  footer .website-links li a {
    color: #5a5a5b;
    font-size: 0.9375em;
    line-height: 33px; }

footer .works-time li {
  font-family: "Museo1";
  font-size: 0.9375em;
  color: #a2a2a3; }
  footer .works-time li:nth-child(-n+2) {
    color: #004d80; }

footer .phones-number {
  font-family: "Museo3"; }
  footer .phones-number li {
    font-size: 1.25em;
    display: flex;
    align-items: center; }
    footer .phones-number li a {
      color: #004d80; }
    footer .phones-number li img {
      max-width: 1.875em; }

#bottom-footer {
  background-color: #e3e3e3; }
  #bottom-footer p {
    font-family: "Museo1";
    font-size: 0.625em;
    text-align: center;
    margin-bottom: 0;
    color: #004d80; }
  #bottom-footer a img {
    max-width: 2.1875em; }

body {
  font-family: "MuseoSansCyrl", sans-serif !important;
  max-width: 120em;
  margin: 0 auto; }
