button {
    &.main-btn {
        font-family: "Museo2";
        background-color: $mainBtnBg;
        color: #fff;
        font-size: em(20);
        letter-spacing: 1px;
        border-radius: 10px;
    }
}