    button {
        &.main-btn {
            font-family: "Museo2";
            background: rgba(255, 6, 110, 1);
            background: linear-gradient(to right, rgba(255, 6, 110, 1), rgba(202, 7, 92, 1));
            color: #fff;
            font-size: em(20);
            letter-spacing: 1px;
            border-radius: 10px;
        }
        &.main-btn2 {
            font-family: "Museo2";
            background: rgba(0, 82, 141, 1);
            background: linear-gradient(to right, rgba(0, 82, 141, 1), rgba(2, 129, 202, 1));
            color: #fff;
            font-size: em(20);
            letter-spacing: 1px;
            border-radius: 10px;
        }
    }
    
    @media screen and (max-width:767px) {
        button {
            &.main-btn {
                font-size: em(15);
            }
        }
        button {
            &.main-btn2 {
                font-size: em(15);
            }
        }
    }