#equipment {
    font-family: "Museo3";
    h1 {
        font-size: em(50);
        color: $mainTextColor;
        text-transform: uppercase;
    }
    h2 {
        font-size: em(37);
        color: $mainTextColor;
        text-transform: uppercase;
    }
    p {
        font-size: em(18);
        text-transform: uppercase;
        color: $sliderTilte;
    }
    ul {
        li {
            margin-top: 15px;
            font-size: em(15);
            text-transform: uppercase;
            color: $mainTextColor;
            display: flex;
            align-items: center;
            img {
                max-width: 40px;
                margin-right: 10px;
            }
        }
    }
    #eqCarousel {
        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active {
            display: flex;
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 9%;
            i {
                color: $mainTextColor;
                font-size: em(80);
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #equipment {
        #eqCarousel {
            .carousel-item {
                margin-top: 35px;
            }
            h2 {
                font-size: em(22);
            }
            p {
                font-size: em(16);
            }
            ul {
                li {
                    font-size: em(13);
                    img {
                        max-width: 25px;
                        height: auto;
                    }
                }
            }
            button.btn {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #equipment {
        #eqCarousel {
            .carousel-item {
                margin-top: 35px;
                .image-left {
                    display: none;
                }
            }
            h2 {
                font-size: em(22);
                text-align: center;
            }
            p {
                font-size: em(16);
                text-align: center;
            }
            ul {
                li {
                    font-size: em(13);
                    img {
                        max-width: 25px;
                        height: auto;
                    }
                }
            }
            button.btn {
                margin: 0 auto;
            }
        }
    }
}