#line {
    background-color: $mainBgClr;
    h2 {
        font-family: "Museo3";
        font-size: em(27);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}