#order-of-work {
    background-color: #e8f7fe;
    font-family: "Museo3";
    min-height: 1075px;
    h1 {
        color: $mainTextColor;
        text-transform: uppercase;
    }
    .work-item {
        font-family: "Museo3";
        img {
            max-width: 60px;
        }
        p {
            font-size: em(24);
            color: $mainTextColor;
            text-transform: uppercase;
        }
    }
    .relative-item-second {
        border-left: 1px #1b5f8d solid;
    }
    .relative-item-first {
        border-right: 1px #1b5f8d solid;
    }
    .relative-block {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        .bottom-block {
            background-color: $mainBgClr;
            img {
                max-width: 100px;
            }
            p {
                color: #fff;
                margin-bottom: 0;
                font-size: em(20);
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
    #order-of-work {
        min-height: 1140px;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    #order-of-work {
        min-height: 906px;
        button.btn {
            margin: 0 auto;
        }
        .work-item {
            img {
                max-width: 60px;
            }
            p {
                font-size: em(20);
            }
        }
        .relative-block {
            .bottom-block {
                img {
                    max-width: 65px;
                }
                p {
                    font-size: em(16);
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    #order-of-work {
        min-height: unset;
        .relative-block {
            position: static;
            padding-bottom: 50px;
            .bottom-block {
                img {
                    max-width: 65px;
                }
                p {
                    font-size: em(16);
                }
            }
        }
        .relative-item-first,
        .relative-item-second {
            border: 0;
        }
        .work-item {
            img {
                max-width: 30px;
            }
            p {
                font-size: em(14);
            }
        }
        button.btn {
            margin: 0 auto;
        }
    }
}