#order-of-work {
    background-color: #e8f7fe;
    font-family: "Museo3";
    min-height: 1420px;
    h1 {
        color: $mainTextColor;
        text-transform: uppercase;
    }
    .work-item {
        font-family: "Museo3";
        img {
            max-width: 80px;
        }
        p {
            font-size: em(27);
            color: $mainTextColor;
            text-transform: uppercase;
        }
    }
    .relative-item-second {
        border-left: 1px #1b5f8d solid;
    }
    .relative-item-first {
        border-right: 1px #1b5f8d solid;
    }
    .relative-block {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        .bottom-block {
            background-color: $mainBgClr;
            img {
                max-width: 100px;
            }
            p {
                color: #fff;
                margin-bottom: 0;
                font-size: em(20);
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    #order-of-work {
        min-height: 1500px;
    }
}