#services {
    h1 {
        font-family: "Museo3";
        color: $mainTextColor;
        text-transform: uppercase;
        font-size: em(50)
    }
    p {
        font-family: "MuseoSansCyrl";
        color: $mainTextColor;
        font-size: em(25);
    }
    .first-item {
        .text {
            background: url(../img/slideItem-1.png) center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .second-item {
        .text {
            background: url(../img/slideItem-2.png) center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .third-item {
        .text {
            background: url(../img/slideItem-3.png) center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .slide-item-title {
        h3 {
            font-size: em(20);
            text-align: center;
            color: $sliderTilte;
            background-color: $bodyBg;
            margin-bottom: 0;
        }
    }
    .text {
        color: #fff;
        h4 {
            font-size: em(20);
        }
        ul {
            li {
                font-size: em(15);
                line-height: 2;
            }
        }
    }
    #servicesCarousel {
        font-family: "Museo3";
        margin: 0 auto;
        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active {
            display: flex;
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 9%;
            i {
                color: $mainTextColor;
                font-size: em(80);
            }
        }
        .carousel-control-prev {
            justify-content: flex-start;
            left: -5%
        }
        .carousel-control-next {
            justify-content: flex-end;
            right: -5%;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    #services {
        #servicesCarousel {
            .slide-item-title h3 {
                font-size: 0.9em;
            }
            .text {
                h4 {
                    font-size: 1.1em;
                }
                ul {
                    li {
                        font-size: 0.8em;
                    }
                }
            }
            button.main-btn {
                font-size: 0.9em;
            }
            .carousel-control-prev {
                left: 0;
            }
            .carousel-control-next {
                right: 0;
            }
        }
    }
}

@media screen and (max-width:767px) {
    #services #servicesCarousel .carousel-item-next,
    #services #servicesCarousel .carousel-item-prev,
    #services #servicesCarousel .carousel-item.active {
        flex-wrap: wrap;
    }
    #services {
        p {
            font-size: em(15);
        }
        #servicesCarousel {
            p {
                font-size: em(18);
            }
            .slide-item-title h3 {
                font-size: 0.9em;
            }
            .text {
                h4 {
                    font-size: 1.1em;
                }
                ul {
                    li {
                        font-size: 0.8em;
                    }
                }
            }
            button.main-btn {
                font-size: 0.9em;
                display: block;
                margin: 0 auto;
            }
            .carousel-control-prev {
                left: 0;
                i {
                    color: #ff0655
                }
            }
            .carousel-control-next {
                right: 0;
                i {
                    color: #ff0655;
                }
            }
        }
    }
}