#top-part {
    letter-spacing: 1px;
    h1 {
        font-family: "Museo3";
        font-size: em(17);
        color: $mainTextColor;
    }
    img.logo {
        max-width: em(123);
        height: auto;
    }
    .social-icons {
        img {
            height: auto;
        }
    }
    .phone-numbers {
        li {
            a {
                font-family: "Intro";
                font-size: em(19);
                color: $phoneTextColor;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #top-part {
        h1 {
            font-size: em(14);
        }
        img.logo {
            max-width: em(100);
            height: auto;
        }
        .social-icons {
            img {
                max-width: em(120);
                height: auto;
            }
        }
        .phone-numbers {
            li {
                a {
                    font-size: em(16);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #top-part {
        .col-12 {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}